@font-face {
	font-family: 'iconfont';
	font-display: auto;
	src: url('//at.alicdn.com/t/c/font_4976812_u665ro1a0a.eot?t=1752729258616'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_4976812_u665ro1a0a.eot?t=1752729258616#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_4976812_u665ro1a0a.woff2?t=1752729258616') format('woff2'),
       url('//at.alicdn.com/t/c/font_4976812_u665ro1a0a.woff?t=1752729258616') format('woff'),
       url('//at.alicdn.com/t/c/font_4976812_u665ro1a0a.ttf?t=1752729258616') format('truetype'),
       url('//at.alicdn.com/t/c/font_4976812_u665ro1a0a.svg?t=1752729258616#iconfont') format('svg');
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: '\ead8';
}

.icon-email:before {
	content: '\e624';
}

.icon-bokeyuan:before {
	content: '\e603';
}

.icon-file:before {
	content: '\eb66';
}

.icon-arrow-left:before {
  content: "\e989";
}

.icon-vue:before {
  content: "\e799";
}

.icon-pytorch:before {
  content: "\e9cd";
}

.icon-react:before {
  content: "\e79a";
}

.icon-python:before {
  content: "\e767";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-nodejs:before {
  content: "\e7a4";
}

.icon-godot:before {
  content: "\e659";
}


